body {
	background: url(/images/login/0014.jpg) no-repeat center center fixed;
	background-size: cover;
}

#div01 {
	height: 500px;
	width: 820px;
	position: absolute;
	top: 12%;
	left: 28%;
	/* box-shadow: -1px 1px 10px #F0F0F0; */
}

#div01_01 {
	float: left;
	opacity: 0.3;
	width: 500px;
	height: 500px;
	background-color: #F7F7F7;
}

#div01_02 {
	float: right;
	width: 320px;
	height: 500px;
	background-color: #FDFDFE;
}

#form {
	position: absolute;
	top: 25%;
	left: 65%;
}

#form2 {
	position: absolute;
	top: 25%;
	left: 65%;
}

#div02 {
	width: 280px;
	margin-bottom: 8px;
}

#submit {
	position: absolute;

}

#div01_02_03 {
	position: absolute;
	left: 5%;
}

#div01_02_04 {
	position: absolute;
	top: 15%;
	right: 27%;
}

#button02 {
	width: 120px;
	height: 38px;
}

#span1 {
	position: absolute;
	top: 33%;
	left: 66%;
	margin: 0px;
	font-size: 12px;
	padding: 0px;
	color: #ef0000;
	font-weight: 400;
}

#span2 {
	position: absolute;
	top: 45%;
	left: 66%;
	margin: 0px;
	font-size: 12px;
	padding: 0px;
	color: #ef0000;
	font-weight: 400;
}
